body{
    margin: 0;

}

.main-portada{
    min-height: 100vh;
    width: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939_960_720.jpg');
    background: no-repeat center fixed;
    background-size: cover;
}